<h1>Items</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>title</th>
    <th>expected cost</th>
    <th>is done</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @items.each do |item| %>
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.expected_cost %></td>
      <td><%= item.is_done %></td>
    <% end %>
  </tr>
  </tbody>
</table>